.pageName {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(98.29deg, #115E96 0.41%, #0A3D62 56.36%);
    color: white;
    margin-top: 76px;

    @media (max-width: 786px) {
        text-align: center;
    }
}