.order-form {
    width: 50%;
    padding: 32px 0;

    @media (max-width: 786px) {
        width: 100%;
        margin-top: -100px;
    }
.input-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 786px) {
     flex-direction: column;
     gap: 20px;   
    }
    &>input {
        width: 48%;
        box-shadow: 0px 4px 12px rgba(10, 61, 98, 0.15);
        padding: 18px 30px;
        border-radius: 500px;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 16px;
        @media (max-width: 786px) {
            width: 95%;
            margin: 0 auto;
        }

        &::placeholder {
            color: #747D8C;
            font-size: 14px;
            font-weight: normal;
        }
    }
            &:nth-child(2) {
                margin: 25px 0;
                @media (max-width: 786px) {
                    margin-top: 20px;
                }
            }
}

.order-btn {
    text-align: center;
    background-color: #115E96;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 18px;
    border: none;
    padding: 16px 63px;
    margin-left: auto;
    display: block;
    max-width: 188px;
    cursor: pointer;
    @media (max-width: 786px) {
        margin: 0 auto;    
    }

}
}