.booksList-wrapper {
    padding-top: 30px;
    padding-bottom: 70px;

    @media (max-width: 425px) {
        margin-left: -12px;
    }
}

.books-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    list-style: none;

    @media (max-width: 786px) and (min-width: 425px) {
        grid-template-columns: repeat(3, 1fr) ;
        column-gap: 12px;
        row-gap: 20px;
    }
    @media (max-width: 425px) {
        grid-template-columns: 50% 50%;
        column-gap: 12px;
        row-gap: 20px;
    }
}