.mainSection {
    background-image: url("../../assets/images/mainSectionBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;

}

.infoSection {
    background-color: #F1F2F6;
}