.mainSection {
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  padding-top: 85px;
  background-position: center;


  @media (max-width: 786px) {
    height: 342px;
    background-position: left;
  }
}

.infoSection {
  background-color: #f1f2f6;
}
