.mainSection {
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;

  @media (max-width: 786px) {
    height: 342px;
    background-position: center;
  }
}

.infoSection {
  background-color: #f1f2f6;
}
