.filter {
  display: flex;
  align-items: center;
  padding: 30px 0;

  @media (max-width: 786px) {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 40px 0 0;
  }

  &-list {
    display: flex;
    align-items: center;
    list-style: none;

    &__item {
      display: flex;
      align-items: center;
      background-color: white;
      font-weight: bold;
      color: #747d8c;
      border-radius: 18px;
      margin-right: 20px;
      height: 48px;
      padding: 0 16px;
      cursor: pointer;
      transition: color 200ms ease-in;

      @media (max-width: 786px) {
        margin: 0;
      }

      &:hover {
        color: #0a3d62;
      }
    }
  }

  .search-input {
    margin-left: auto;
    position: relative;

    @media (max-width: 786px) {
      margin: 0;
      width: 100%;
    }
    & > input {
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
      padding: 14px 20px;
      border-radius: 18px;
      border: none;
      width: 350px;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      @media (max-width: 786px) {
        width: 100%;
        filter: none;
      }
      &::placeholder {
        font-size: 14px;
        font-weight: normal;
      }
    }
    & > svg {
      position: absolute;
      transform: translateY(80%);
      right: 5%;
    }
  }
  .swiper-slide {
    width: auto !important;
  }

  .swiper-slide:first-child {
    padding-left: 45px;

    @media (max-width: 426px) {
      padding-left: 20px;
    }
  }

  .slider-wrapper {
    display: inline-block;
  }
}
