.card {
  max-width: 214px;
  // margin: 20px 0;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(20, 44, 74, 0.1);
  border-radius: 20px;
  padding: 18px;
  color: #000000;
  transition: color 300ms ease;
  @media (max-width: 426px) {
    padding: 14px;
  }
  cursor: pointer;
  &:hover {
    color: #115e96;
  }
  &-image {
    background-color: #f1f2f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 14px 36px;
    & > img {
      @media (max-width: 425px) {
        max-height: 135px;
      }
    }
  }
  &-name {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  &-author {
    margin-top: 8px;
    font-size: 14px;
  }
  &-genre {
    margin-top: 8px;
    color: #9eabaf;
    font-size: 10px;
  }
  &-rating {
    margin-top: 10px;
  }

  &-audio {
    width: 36px;
    height: 36px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    background-color: #fff;
    transition: filter 200ms ease-in;

    &:hover {
      filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
    }

    &:hover &__dropdown {
      opacity: 1;

    }

    &__dropdown {
      position: absolute;
      color: #000000;
      text-align: center;
      top: 40px;
      left: -18%;
      font-size: 14px;
      width: 125px;
      background-color: #fff;
      list-style: none;
      transform: translateX(-30%);
      border-radius: 5px;
      padding: 5px 0;
      opacity: 0;
      cursor: default;
      transition: opacity 300ms ease;
      z-index: 99;
      &::before {
        border-bottom: 35px solid #ffff;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        top: -5px;
        right: 34%;
        width: 0;
        z-index: -1;
      }
    }
  }
  .MuiSkeleton-text {
    transform: none !important;
  }
}
