.download {
  display: flex;
  justify-content: space-between;

  &-image {
    margin-left: 90px;
    width: 50%;
  }

  &-links {
    display: flex;
    flex-direction: column;
    width: 57%;
    color: #042843;
    padding-top: 30px;

    &__text {
      font-size: 24px;
      font-weight: bold;
    }

    &__stores {
      display: flex;
      margin-top: 34px;
      margin-right: auto;

      & > a {
        text-decoration: none;
        color: #042843;
      }
    }

  }
}
